---
import Product from "../components/Product/Product.astro";
import ProductIcon from "../components/Product/ProductIcon.astro";
import ProductImage from "../components/Product/ProductImage.astro";
import SnsIconLink from "../components/SnsIconLink.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="すずきゆーだいのプロフィール">
  <main>
    <header>
      <img class="icon" src="/images/me.jpg" alt="すずきゆーだいのプロフィール画像">
      <h1>
        すずきゆーだい
      </h1>
      <p class="description">
        秋になると柿を200個食べるエンジニア
      </p>
    </header>
    <section>
      <ul role="list" class="sns-list">
        <li>
          <SnsIconLink
            src="/images/twitter-icon.svg"
            href="https://twitter.com/szkyudi"
            alt="Twitterアカウントはこちら"
          ></SnsIconLink>
        </li>
        <li>
          <SnsIconLink
            src="/images/github-icon.svg"
            href="https://github.com/szkyudi"
            alt="GitHubアカウントはこちら"
          ></SnsIconLink>
        </li>
        <li>
          <SnsIconLink
            src="/images/qiita-icon.png"
            href="https://qiita.com/szkyudi"
            alt="Qiitaアカウントはこちら"
          ></SnsIconLink>
        </li>
        <li>
          <SnsIconLink
            src="/images/zenn-icon.svg"
            href="https://zenn.dev/szkyudi"
            alt="Zennアカウントはこちら"
          ></SnsIconLink>
        </li>
      </ul>
    </section>
    <section>
      <ul class="product-list">
        <li>
          <Product
            href="https://warikan-dentaku.vercel.app/"
            title="ばりわるくん"
            description="多機能割り勘電卓"
          >
            <ProductImage src="/images/bariwarukun.png" alt="ばりわるくんのイメージ画像" />
          </Product>
        </li>
        <li>
          <Product
            href="https://nstation.vercel.app/"
            title="nStation"
            description="指定駅からN駅以内を検索"
          >
            <ProductIcon bgColor="cyan" icon="🚉" />
          </Product>
        </li>
        <li>
          <Product
            href="https://drawerjournal.com/jp"
            title="引き出し日記のLP"
            description="日記アプリの多言語LP制作"
          >
            <ProductIcon bgColor="hsl(145,28%,35%)" icon="📔" />
          </Product>
        </li>
        <li>
          <Product
            href="https://u-days.com"
            title="U-DAYS"
            description="JAMstackで作った技術ブログ"
          >
            <ProductImage src="/images/u-days.png" alt="u-days.comのデフォルトサムネイル" />
          </Product>
        </li>
        <li>
          <Product
            href="https://developers.prtimes.jp/author/szkyudi/"
            title="PR TIMES 開発者ブログ"
            description="株式会社PR TIMESで書いた記事"
          >
            <ProductImage src="/images/prtimes.jpg" alt="PR TIMESのオフィス画像" />
          </Product>
        </li>
      </ul>
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    max-width: 600px;
    padding: 32px 16px;
    margin: 0 auto;
  }
  header {
    text-align: center;
    margin-bottom: 24px;
  }
  .icon {
    display: inline-block;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 16px;
  }
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
  }
  .sns-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }
  .product-list {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
  }
  .product-list li {
    white-space: nowrap;
    overflow: hidden;
  }
  @media (min-width: 500px) {
    .product-list {
      grid-template-columns: 1fr 1fr;
    }
  }
  .product-list li {
    width: 100%;
  }
</style>
