---
export interface Props {
	href: string;
  title: string;
  description: string;
  icon: string;
}

const { href, title, description, icon } = Astro.props;
---

<a href={href} target="_blank" rel="noreferrer">
  <div class="icon">{icon}</div>
  <div class="content">
    <div class="title">{title}</div>
    <div class="description">{description}</div>
  </div>
</a>

<style>
	a {
		display: flex;
		border-radius: 8px;
    border: 1px solid #888;
    overflow: hidden;
	}
	a:hover {
		opacity: 0.6;
	}

	.icon {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 32px;
    width: 64px;
    height: 64px;
		background: #ddf;
	}
  .content {
    padding:  8px;
    flex: 1;
  }
  .title {
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .description {
    font-size: 12px;
    margin-top: 4px;
    color: rgba(255, 255, 255, 0.75);
    text-overflow: ellipsis;
    overflow: hidden;
  }
</style>
