---
import Socials from "./Socials.astro";
import { Image } from "astro:assets";
---

<header>
  <Image
    class="icon"
    src="/images/me.jpg"
    alt="男性のイラスト。黒い無地のニット帽を深めにかぶり、左胸にポケットがある黒い無地の半袖、黒い無地の長ズボンを着ていて、右手を後頭部に添えている。青の単色背景で頭から膝までが切り取られている。"
    width={320}
    height={320}
    loading="eager"
    format="avif"
    quality={60}
  />
  <h1 class="name">すずきゆーだい</h1>
  <p class="description">
    秋になると柿を200個食べるエンジニア
    <br />
    株式会社ゆめみ
  </p>
  <Socials />
</header>

<style>
  header {
    text-align: center;
    line-height: 1.6;
  }
  .name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
  }
  .icon {
    display: inline-block;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 16px;
  }
</style>
