---
import Card from "./Card.astro";

---

<ul class="card-list">
  <li>
    <Card
      href="https://developers.prtimes.jp/author/szkyudi/"
      title="PR TIMES é–‹ç™ºè€…ãƒ–ãƒ­ã‚°"
      description="ä»•äº‹ã§æ›¸ã„ãŸè¨˜äº‹"
      icon="ðŸ¢"
    />
  </li>
  <li>
    <Card
      href="https://warikan-dentaku.vercel.app/"
      title="ã°ã‚Šã‚ã‚‹ãã‚“"
      description="å¤šæ©Ÿèƒ½å‰²ã‚Šå‹˜é›»å“"
      icon="âž—"
    />
  </li>
  <li>
    <Card
      href="https://nstation.vercel.app/"
      title="nStation"
      description="æŒ‡å®šé§…ã‹ã‚‰3é§…ä»¥å†…ã‚’æ¤œç´¢"
      icon="ðŸš‰"
    />
  </li>
  <li>
    <Card
      href="https://drawerjournal.com/jp"
      title="å¼•ãå‡ºã—æ—¥è¨˜ã®LP"
      description="å¤šè¨€èªžå¯¾å¿œã—ãŸLP"
      icon="ðŸ“”"
    />
  </li>
  <li>
    <Card
      href="https://u-days.com"
      title="U-DAYS"
      description="è‡ªä½œJAMstackãƒ–ãƒ­ã‚°"
      icon="âœï¸"
    />
  </li>
</ul>

<style>
  .card-list {
    margin-top: 32px;
  }
  .card-list li {
    white-space: nowrap;
    overflow: hidden;
  }
  .card-list li + li {
    margin-top: 8px;
  }
</style>
