---
import Card from "./Card.astro";

---

<ul class="card-list">
  <li>
    <Card
      href="https://warikan-dentaku.vercel.app/"
      title="ã°ã‚Šã‚ã‚‹ãã‚“"
      description="å¤šæ©Ÿèƒ½å‰²ã‚Šå‹˜é›»å“"
      icon="âž—"
    />
  </li>
  <li>
    <Card
      href="https://nstation.vercel.app/"
      title="nStation"
      description="æŒ‡å®šé§…ã‹ã‚‰Né§…ä»¥å†…ã‚’æ¤œç´¢"
      icon="ðŸš‰"
    />
  </li>
  <li>
    <Card
      href="https://drawerjournal.com/jp"
      title="å¼•ãå‡ºã—æ—¥è¨˜ã®LP"
      description="æ—¥è¨˜ã‚¢ãƒ—ãƒªã®å¤šè¨€èªžLPåˆ¶ä½œ"
      icon="ðŸ“”"
    />
  </li>
  <li>
    <Card
      href="https://u-days.com"
      title="U-DAYS"
      description="JAMstackã§ä½œã£ãŸæŠ€è¡“ãƒ–ãƒ­ã‚°"
      icon="âœï¸"
    />
  </li>
  <li>
    <Card
      href="https://developers.prtimes.jp/author/szkyudi/"
      title="PR TIMES é–‹ç™ºè€…ãƒ–ãƒ­ã‚°"
      description="æ ªå¼ä¼šç¤¾PR TIMESã§æ›¸ã„ãŸè¨˜äº‹"
      icon="ðŸ¢"
    />
  </li>
</ul>

<style>
  .card-list {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
  }
  .card-list li {
    white-space: nowrap;
    overflow: hidden;
  }
  @media (min-width: 500px) {
    .card-list {
      grid-template-columns: 1fr 1fr;
    }
  }
  .card-list li {
    width: 100%;
  }
</style>
