---
import Card from "./Card.astro";
---

<ul class="card-list">
  <li>
    <Card
      href="https://apps.apple.com/jp/app/%E3%83%AF%E3%83%AA%E3%82%AB%E3%83%B3%E3%82%B8-%E5%B9%B9%E4%BA%8B%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AE%E5%89%B2%E3%82%8A%E5%8B%98%E9%9B%BB%E5%8D%93/id6448687000"
      title="ãƒ¯ãƒªã‚«ãƒ³ã‚¸"
      description="å¹¹äº‹ã®ãŸã‚ã®å‰²ã‚Šå‹˜é›»å“ã‚¢ãƒ—ãƒª"
      icon="ðŸ’°"
    />
  </li>
  <li>
    <Card
      href="https://warikan-dentaku.vercel.app/"
      title="ã°ã‚Šã‚ã‚‹ãã‚“"
      description="å¤šæ©Ÿèƒ½å‰²ã‚Šå‹˜é›»å“ã‚µã‚¤ãƒˆ"
      icon="âž—"
    />
  </li>
  <li>
    <Card
      href="https://nstation.vercel.app/"
      title="nStation"
      description="æŒ‡å®šé§…ã‹ã‚‰3é§…ä»¥å†…ã‚’æ¤œç´¢"
      icon="ðŸš‰"
    />
  </li>
  <li>
    <Card
      href="https://drawerjournal.com"
      title="å¼•ãå‡ºã—æ—¥è¨˜ã®LP"
      description="å¤šè¨€èªžå¯¾å¿œã—ãŸLP"
      icon="ðŸ“”"
    />
  </li>
  <li>
    <Card
      href="https://u-days.com"
      title="U-DAYS"
      description="è‡ªä½œJAMstackãƒ–ãƒ­ã‚°"
      icon="âœï¸"
    />
  </li>
  <li>
    <Card
      href="https://developers.prtimes.jp/author/szkyudi/"
      title="PR TIMES é–‹ç™ºè€…ãƒ–ãƒ­ã‚°"
      description="ä»•äº‹ã§æ›¸ã„ãŸè¨˜äº‹"
      icon="ðŸ¢"
    />
  </li>
</ul>

<style>
  .card-list {
    margin-top: 32px;
  }
  .card-list li {
    white-space: nowrap;
    overflow: hidden;
  }
  .card-list li + li {
    margin-top: 8px;
  }
</style>
