---
import SnsIconLink from "./SnsIconLink.astro";
---

<ul role="list" class="sns-list">
  <li>
    <SnsIconLink
      src="/images/x-icon.png"
      href="https://x.com/szkyudi"
      alt="Twitterアカウントはこちら"
    />
  </li>
  <li>
    <SnsIconLink
      src="/images/github-icon.svg"
      href="https://github.com/szkyudi"
      alt="GitHubアカウント"
    />
  </li>
  <li>
    <SnsIconLink
      src="/images/qiita-icon.png"
      href="https://qiita.com/szkyudi"
      alt="Qiitaアカウント"
    />
  </li>
  <li>
    <SnsIconLink
      src="/images/zenn-icon.png"
      href="https://zenn.dev/szkyudi"
      alt="Zennアカウント"
    />
  </li>
  <li>
    <SnsIconLink
      src="/images/speaker-deck-icon.png"
      href="https://speakerdeck.com/szkyudi"
      alt="Speaker Deckアカウント"
    />
  </li>
</ul>

<style>
  .sns-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-top: 24px;
  }
</style>
